h1 {
	text-align: center;
}

h4 {
	text-align: center;
}

body {
	background-color: #85E6B6;
}

input[type="button"] {
	margin-top: 3px;
	margin-bottom: 3px;
}

input[type="text"] {
	margin-top: 6px;
	margin-bottom: 6px;
}

.numOrOpButton
{
	width: 2em;
	height: 2em;
}

.label
{
	margin-top: 15px;
	margin-bottom: 15px;
}

#base_selector
{
	display: none;
}

#zeroButton
{
	width: 6.5em;
}

#equalsButton
{
	width: 3.5em;
}

#clearButton
{
	width: 5em;
}

#copyright {
  border-top: 8px solid #000000;
  margin: 15px 0px;
  text-align: center;
}



